/*Variáveis*/
@charset "UTF-8";

@font-face {
  font-family: Montserrat-bold;
  src: url(fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat-medium;
  src: url(fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Montserrat-semibold;
  src: url(fonts/Montserrat-SemiBold.ttf);
}

:root {
  --bgSite: #f6f6f6;
  --bgCard: #ebe9ea;
  
  --white: #F9F9F9;

  --title: #181818;
  --text: #474747;
}

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
button,
input {
  border: 0;
}
button:focus,
input:focus {
  border: 0;
}

.header-1 {
  background: var(--title);
  color: var(--white);
  text-align: center;
  font-family: 'Montserrat-medium', sans-serif;
}

.header-1 p {
  padding: 20.5px;
}

.header-2 {
  font-family: 'Montserrat-semibold', sans-serif;
  text-align: center;
}

.header-2 h2 {
  padding: 15.5px;
}

.main-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.500), rgba(0,0,0,0.5)), url(img/wallpaper.jpeg);
  margin: 0 auto;
  position: relative;
  height: 400px;
}

.center-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-image-info {
  color: #FFF;
  font-family: 'Montserrat-medium', 'sans-serif';
  padding: 25px;
  position: absolute;
  left: 25px;
  bottom: 135px;
}

.main-image-info h1 {
  padding-bottom: 20px;
}




.imagem-bg {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 5px;
  font-family: 'Montserrat-medium', sans-serif;;
}

.imagem-bg h1 {
  flex: 1 1 400px;
}

.imagem-bg p {
  flex: 1 1 400px;
}

.imagem-bg i {
  flex: 1 1 400px;
}

#wallpaper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.500), rgba(0,0,0,0.5)), url(img/wallpaper.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.destaque {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 59px 10px;
}

.destaque h1 {
  font-family: 'Montserrat-semibold', sans-serif;
}

.destaque p {
  font-family: 'Montserrat-medium', sans-serif;
  padding: 9.5px 0px;
  text-align: center;
}

.produtos {
  max-width: 1440px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.produtos li {
  flex: 1 1 250px;
  margin-bottom: 39px;
  margin-left: 7.5px;
  margin-right: 7.5px;
  background: var(--bgCard);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
  background: var(--title);
  font-family: 'Montserrat-medium';
  height: 60px;
}

@media (max-width: 530px) {
  .produtos li {
    flex: 1 1 250px;
    margin-bottom: 30px;
    margin-left: 7.5px;
    margin-right: 7.5px;
    background: var(--bgCard);
}
}