/*Variáveis*/
@charset "UTF-8";

@font-face {
  font-family: Montserrat-bold;
  src: url(fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat-medium;
  src: url(fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Montserrat-semibold;
  src: url(fonts/Montserrat-SemiBold.ttf);
}

:root {
  --bgSite: #f6f6f6;
  --bgCard: #ebe9ea;
  
  --white: #F9F9F9;

  --title: #181818;
  --text: #474747;
}

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
button,
input {
  border: 0;
}
button:focus,
input:focus {
  border: 0;
}

.header-1 {
  background: var(--title);
  color: var(--white);
  text-align: center;
  font-family: 'Montserrat-medium', sans-serif;
}

.header-1 p {
  padding: 20.5px;
}

.header-2 {
  font-family: 'Montserrat-semibold', sans-serif;
  text-align: center;
}

.header-2 h2 {
  padding: 15.5px;
}

.imagem-bg {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  color: white;
  background-size: cover;
}


#wallpaper {
  background-image: url(img/wallpaper.jpeg);
  background-position: right center;
  height: 30vh;

}