/*Variáveis*/
:root {
  --bgSite: #d7d4ff;
  --buttonColor: #6c63ff;

  --white: #ffffff;
  --white300: #f9f9f9;

  --title: #2b2b2b;
  --text: #555555;
}

* {
  font-family: 'Lato', sans-serif;
}

* body {
  background-color: #FFF;
}

.primary-bg-color {
  background-color: var(--bgSite);
}

/* HEADER */
#header {
  background-color: var(--bgSite);
  height: auto;
  padding: 30px 75px;
}

.descricao-header h1 {
  color: var(--title);
  font-family: 'Merriweather', sans-serif;
  margin-bottom: 17.5px;
}

.descricao-header p {
  color: var(--text);
  margin-bottom: 45px;
}

.btn.btn-primary {
  background-color: var(--buttonColor);
  border-color: var(--buttonColor);
  color: var(--white);
  font-size: 1.2em;
}

.btn-primary:hover {
  background-color: #5d54ff;
}

/* APRESENTAÇÃO CARDS */

#container-cards {
  margin: 150px auto 83px auto;
}

.card {
  height: 423px;
  margin-bottom: 67px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.card-title {
  color: var(--title);
  font-family: 'Merriweather', sans-serif;
  font-weight: bold;
  margin: 21px auto;
}

.card-text {
  color: var(--text);
}

.color-1 {
  background-color: #FF6363;
  height: 40vh;
}

.color-2 {
  background-color: #63ECFF;
  height: 40vh;
}

.color-3 {
  background-color: #F363FF;
  height: 40vh;
}

.color-4 {
  background-color: #63FF73;
  height: 40vh;
}

.color-5 {
  background-color: #FFDD63;
  height: 40vh;
}

.color-6 {
  background-color: #6663FF;
  height: 40vh;
}

/* FORMS */

#contato {
  background-color: var(--bgSite);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contato .container {
  margin: 80px;
  width: 494px;
}

#contato h1 {
  text-align: center;
  margin-bottom: 60px;
}

#contato .btn-forms {
  width: 100%;
}

@media(max-width: 568px) {
  #contato .container {
      width: 70vw;
  }
}



