@charset "UTF-8";

:root {
  --blue: #3EA1DB;
  --blue-dark: #574AE8;
  --white: #FFF;
  --title: #313131;
  --text: #B6B6B6;
  --linear: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);
  /* font-family: 'Inter', sans-serif; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lexend Deca', Helvetica, Arial, sans-serif;
  color: #222222;
  background: #F3F5F7;
}

.header-bg {
  background: var(--linear);
  color: var(--white);
}

.header {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
}

.header p {
  padding: 41px 10px 0px 10px;
  margin-bottom: 73px;
  font-size: 24px;
}

.pesquisa {
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
}

.pesquisa input {
  flex: 1;
  margin-bottom: 41px;
  padding: 21px;
  font-size: 24px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background: #FFFFFF33;
  color: #FFFFFF33;
  border: none;
  border-radius: 5px;
  outline: none;
}

.pesquisa input::placeholder {
  color: #FFFFFF33;
}

main {
  max-width: 900px;
  margin: 0 auto;
}